* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sometype Mono", monospace;
}

/* header style*/
header {
    /*Flex*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*concrete bg*/
    background-image: url("../imgs/wall.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;

    h1 {
        font-family: "Edu TAS Beginner", cursive;
        font-size: 96px;
        font-weight: 700;
    }
}

/* body bg*/
body {
    /*cork bg*/
    background-image: url("../imgs/cork.png");
    background-size: cover;
    background-position: center;
}

/*pinned imgs*/
.board-section {
    padding: 50px 0;
}
.board-item {
    position: relative;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
}

.pin-img {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 0px;
    left: 50%;
}

.card-img {
    aspect-ratio: 1;
    padding-bottom: 10px;
}

/* font-family: "Sometype Mono", monospace; */
/* font-family: "Edu TAS Beginner", cursive; */